@import './utils/variable';
@import './utils/body';
@import './components/section-head';
@import './components/hero/section-one';
@import './components/section-too';
@import './components/what-we-doing';
@import './components/team';
@import './components/regular-costumers';
@import './components/footer';
@import './components/portfolio';
