.page-header .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.conteiner-info {
  display: inline-flex;
  margin-left: auto;
}

.section-logo {
  color: $had-color;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.web-logo {
  color: $akcent-color;
}

.logo {
  margin-right: 85px;
}

.site-nav {
  display: flex;
  padding: 0;
  &.item + .item {
    margin-left: 50px;
  }
}

.site-nav .link {
  color: $had-color;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item {
  position: relative;
  &.item:hover,
  &.item:focus {
    color: $akcent-color;
  }
}

.site-nav .curent::after {
  content: '';
  border-radius: 2px;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $akcent-color;
}

.info-title a {
  text-decoration: none;
  color: $text-color;
}

.info-title {
  display: flex;
  padding: 0;
  & .link:hover,
  & .link:focus {
    color: $akcent-color;
    --color3: $akcent-color;
  }
}

.info-item {
  margin-left: auto;
}
.info-title .item + .item {
  margin-left: 30px;
}

.icon-envelope {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

.mail {
  display: flex;
  align-items: center;
}

.icon-telefon {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  color: currentColor;
  width: 10px;
  height: 15px;
}

.telefon {
  display: flex;
}
