.icon-container {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-antena {
  width: 65px;
  height: 70px;
}

.icon-clock {
  width: 66px;
  height: 70px;
}

.icon-diagram {
  width: 70px;
  height: 54px;
}

.icon-astronaut {
  width: 70px;
  height: 70px;
}

.section-too .container-too {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.border-picteres {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: block;
  margin-bottom: 30px;
}

.section-title {
  color: var(--second-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.section-too {
  font-size: 14px;
  line-height: 1.7;
  padding-top: 94px;
  padding-bottom: 94px;
}

.link:hover,
.link:focus {
  color: var(--akcent-color);
  text-decoration: none;
  cursor: pointer;
}

.desk {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.list-item {
  display: flex;
  justify-content: center;
  padding: 0;
}

.item + .item {
  margin-left: 30px;
}

.button {
  background-color: $akcent-color;
  color: $background-color;
  border: 1px solid transparent;
  padding: 10px 32px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  text-decoration: none;
  min-width: 200px;
  display: inline-block;
}
